# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Docker
*.tar

# Kubernetes
*.bak

# Terraform
.terraform/
terraform.tfstate*
